.content_wrapper{
    padding: 20px 0;
    position: relative;
    height: 1000px;
}
.content{
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.content_title{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    font-size: xx-large ;
    font-weight: bolder;
}


.two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
}

.hub{
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 71, 73);
    width: auto;
    height: 500px;

}


.title{
    background-color: rgb(216, 0, 0);
    color: white;
    padding: 14px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 6px;
    font-size: 1.2em;
    border-bottom: 1px solid gray;
    color: white;
}
ul li:hover {
    color: white;
    cursor: pointer;
}

.logos{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 60px;
}

.logo1{
    background-image: url('../../assets/logo2.png');
    height: 300px;
    width: 300px;
}

.logo2{
    position : absolute;
    background-image: url('../../assets/logo_ccme.png');
    height: 60px;
    width: 150px;
    left: 0px;
    top: 30px;
}

.logo1, .logo2{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.hub-img1{
  background-image: url('../../assets/skill.png');
  background-position: center;
  background-size: cover;
  height: 200px;
}

.hub-img2{
  background-image: url('../../assets/entrepreneurship.png');
  background-position: center;
  background-size: cover;
  height: 200px;
}
.hub-img3{
  background-image: url('../../assets/tech.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
}



.img{
    background-position: center;
    background-size: cover;
    height: 300px;
}


.fa-caret-right{
  color: white;
  margin-right: 5px;
}


.background-2{
    width: 100%;
    height: 200px;
    top: 480px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome_wrapper{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    text-align: center;
    width: 60%;
    font-size: 2.7em; 
    line-height: 1.4;
    font-weight: bold;
    
}

.header_wrapper{
    padding-bottom: 40px;
    border-bottom: 4px solid black;
    height: 110px;
}

.home_header{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}


.header_one{
    font-size: large;
    font-weight: bold;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.header_two{
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    
}


.clicked{
    font-weight: bold;
}

.logo_back{
    background-image: url('../../assets/c18146e7dcb84b1391e9ed3553f76a64.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -3;
}

.l1{
    top: 50px;
    left: 20px;
}

.l2{
    top: 200px;
    left: 120px;
}

.l3{
    top: 350px;
    left: 50px;
}

.l4{
    top: 50px;
    right: 20px;
}

.l5{
    top: 200px;
    right: 120px;
}

.l6{
    top: 350px;
    right: 50px;
}

.l7{
    top: 530px;
    left: 120px;
}

.l8{
    top: 530px;
    right: 120px;
}

.l9{
    top: 10px;
    right: 350px;
    width: 60px;
    height: 60px;
}

.l10{
    top: 10px;
    left: 350px;
    width: 60px;
    height: 60px;
}

.l11{
    top: 710px;
    left: 50px;
}

.l12{
    top: 710px;
    right: 50px;
}

.l13{
    top: 890px;
    left: 120px;
}

.l14{
    top: 890px;
    right: 120px;
}

.search{
    position: relative;
    margin-left: 30px;
}

.search input{
    border: none;
    width: 200px;
    padding: 6px 15px;
    
    background-color: rgb(192, 192, 192);
}

.search i {
    position: absolute;
    right: 9px;
    top: 10px;
    cursor: pointer;
}

.search i:hover {
    color: white;
}
