.content_wrapper{
    background-color: rgb(218, 218, 218);
    padding: 20px 0;
}
.content{
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.content_title{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    font-size: xx-large ;
    font-weight: bolder;
}


.two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
}

.hub{
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 182, 230);
    width: auto;
    height: 550px;

}


.title{
    background-color: rgb(97, 105, 170);
    color: white;
    padding: 14px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 6px;
    border-bottom: 1px solid gray;
    color: white;
}
ul li:hover {
    color: gray;
    cursor: pointer;
}

.hub-img1{
  background-image: url('../../assets/skill.png');
  background-position: center;
  background-size: cover;
  height: 200px;
}

.hub-img2{
  background-image: url('../../assets/entrepreneurship.png');
  background-position: center;
  background-size: cover;
  height: 200px;
}
.hub-img3{
  background-image: url('../../assets/tech.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
}



.img{
    background-image: url('../../assets/pexels-pixabay-220182.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
}


.fa-caret-right{
  color: white;
  margin-right: 5px;
}


.background{
    width: 100%;
    background-color: black;
    opacity: 0.5;
    height: 200px;
    top: 480px;
    position: absolute;
}

.about-us{
    background-color: rgb(238, 202, 103); 
    text-align: center; 
    border-radius: 50%; 
    width: 140px; 
    line-height: 140px; 
    height: 140px;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
}

.about-us:hover{
    background-color: rgb(245, 219, 149); 
}

.background-2{
    width: 100%;
    height: 200px;
    top: 480px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome{
    position: absolute; 
    top: 26%; 
    left: 50%; 
    text-align: center;   
    transform: translate(-50%, -20%);
    font-size: 2.5em; 
    line-height: 0.9;
    color: rgb(243, 240, 240);
    
}
.welcome span{
    font-family: 'Lobster', cursive;    
    letter-spacing: -3px;
    background: linear-gradient(to right, #0e5e0b 0%, #dd4c4c 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;

    
}