<div class="content_wrapper">
    <div class="logos">
        <div class="logo1">

        </div>
        <div class="logo2">

        </div>
    </div>
    <div class="welcome_wrapper">
        <div class="welcome">
            Bienvenue dans votre éspace digitale de skilling up et de mobilisation de compétences. 
        </div>
    </div>
    <div class="content" >
        <div class="two">
            <div class="hub">
                <div class="title"><span>Business Boost Up</span></div>
                <div class="hub-img2"></div>
                <div>
                    <ul>
                        <li><i class="fas fa-caret-right"></i>Investment</li>
                        <li><i class="fas fa-caret-right"></i>Unlock Opportunities</li>
                        <li><i class="fas fa-caret-right"></i>Start up big lever</li>
                        <li><i class="fas fa-caret-right"></i>Financement</li>
                        <li><i class="fas fa-caret-right"></i>Suppliers</li>
                    </ul>
                </div>
                
            </div>

            
            <div class="hub">
                <div class="title"> <span>Skilling up</span></div>
                <div class="hub-img1"></div>
                <div>
                    <ul>
                        <li><i class="fas fa-caret-right"></i>Digitale Academy</li>
                        <li><i class="fas fa-caret-right"></i>Professional formations</li>
                        <li><i class="fas fa-caret-right"></i>In demande formations</li>
                        <li><i class="fas fa-caret-right"></i>Profiling formations</li>
                        <li><i class="fas fa-caret-right"></i>Conferences / Workshops</li>
                    </ul>
                </div>
            </div>

            <div class="hub">
                <div class="title"><span>Moving up</span></div>
                <div class="hub-img3"></div>
                <div>
                    <ul>
                        <li><i class="fas fa-caret-right"></i>Continuous innovation</li>
                        <li><i class="fas fa-caret-right"></i>More values</li>
                        <li><i class="fas fa-caret-right"></i>New capabilities</li>
                    </ul>
                </div>
            </div>
            
        </div>
      
      </div>
      <div class="logo_back l1"></div>
      <div class="logo_back l2"></div>
      <div class="logo_back l3"></div>
      <div class="logo_back l4"></div>
      <div class="logo_back l5"></div>
      <div class="logo_back l6"></div>
      <div class="logo_back l7"></div>
      <div class="logo_back l8"></div>
      <div class="logo_back l9"></div>
      <div class="logo_back l10"></div>
      <div class="logo_back l11"></div>
      <div class="logo_back l12"></div>
      <div class="logo_back l13"></div>
      <div class="logo_back l14"></div>
</div>


