.content_wrapper{
    background-color: rgb(218, 218, 218);
    padding: 20px 0;
    position: relative;
}
.content{
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.content_title{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    font-size: xx-large ;
    font-weight: bolder;
}


.two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
}

.hub{
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 182, 230);
    width: auto;
    height: 550px;

}


.title{
    background-color: rgb(97, 105, 170);
    color: white;
    padding: 14px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 6px;
    font-size: 1.2em;
    border-bottom: 1px solid gray;
    color: white;
}
ul li:hover {
    color: gray;
    cursor: pointer;
}

.hub-img1{
  background-image: url('../../assets/skill.png');
  background-position: center;
  background-size: cover;
  height: 200px;
}

.hub-img2{
  background-image: url('../../assets/entrepreneurship.png');
  background-position: center;
  background-size: cover;
  height: 200px;
}
.hub-img3{
  background-image: url('../../assets/tech.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
}



.img{
    background-image: url('../../assets/pexels-fwstudio-131634.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
}

.atlas,.media{
    height: 600px;
}


.fa-caret-right{
  color: white;
  margin-right: 5px;
}


.background{
    width: 100%;
    background-color: black;
    opacity: 0.5;
    height: 200px;
    top: 480px;
    position: absolute;
}

.about-us{
    background-color: rgb(238, 202, 103); 
    text-align: center; 
    border-radius: 50%; 
    width: 140px; 
    line-height: 140px; 
    height: 140px;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
}

.about-us:hover{
    background-color: rgb(245, 219, 149); 
}

.background-2{
    width: 100%;
    height: 200px;
    top: 480px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome{
    position: absolute; 
    top: 26%; 
    left: 50%; 
    text-align: center;   
    transform: translate(-50%, 40%);
    font-size: 2.7em; 
    line-height: 1.4;
    color: rgb(134, 0, 0);
    font-weight: bold;
    
}

.header_wrapper{
    padding-bottom: 40px;
    border-bottom: 4px solid black;
    height: 110px;
}

.home_header{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}


.header_one{
    font-size: large;
    font-weight: bold;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.header_two{
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    
}

.header_two div{
    height: 100%;
    cursor: pointer;
    align-self: center;
    font-size: 1.2em;
}


.header_two div:hover{
    font-weight: bold;
}

.clicked{
    font-weight: bold;
}

.logo_back{
    background-image: url('../../assets/a6ba0ec2-b5b0-494c-a1d8-587e8bcbed13_200x200.png');
    width: 80px;
    height: 80px;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.l1{
    top: 50px;
    left: 20px;
}

.l2{
    top: 200px;
    left: 120px;
}

.l3{
    top: 350px;
    left: 50px;
}

.l4{
    top: 50px;
    right: 20px;
}

.l5{
    top: 200px;
    right: 120px;
}

.l6{
    top: 350px;
    right: 50px;
}

.l7{
    top: 530px;
    left: 120px;
}

.l8{
    top: 530px;
    right: 120px;
}

.l9{
    top: 10px;
    right: 350px;
    width: 60px;
    height: 60px;
}

.l10{
    top: 10px;
    left: 350px;
    width: 60px;
    height: 60px;
}

.search{
    position: relative;
    margin-left: 30px;
}

.search input{
    border: none;
    width: 200px;
    padding: 6px 15px;
    
    background-color: rgb(192, 192, 192);
}

.search i {
    position: absolute;
    right: 9px;
    top: 10px;
    cursor: pointer;
}

.search i:hover {
    color: rgb(78, 78, 78);
}
