<div class="wrapper">
    <div class="profil-wrapper">

      <div class="profil-1" >
          <span class="pers">Personnal Informations</span>
          <div class="profile-img">
            <div *ngIf=retrievedImage>
                <img [src]="retrievedImage" class="img"/>
            </div>
          </div>
          <div class="infos">
              <div class="info">
                  <span class="value"><i class="far fa-user"></i>{{firstName}} {{lastName}}</span>
              </div>
              
              <div class="info">
                  <span class="value"><i class="fas fa-birthday-cake"></i>22</span>
              </div>
              <div class="info">
                  <span class="value"><i class="far fa-envelope"></i>{{email}}</span>
              </div>
              <div class="info" *ngIf="phoneNumber">
                  <span class="value"><i class="fas fa-phone-alt"></i>{{phoneNumber}}</span>
              </div>
              <div class="info" *ngIf="city && country">
                  <span class="value"><i class="fas fa-map-marker-alt"></i> {{city}}, {{country}}</span>
              </div>
              <div class="info" *ngIf="currentJob">
                  <span class="value"><i class="fas fa-suitcase"></i>{{currentJob}}</span>
              </div>
              <div class="info" *ngIf="website">
                  <span class="value"><i class="fas fa-link"></i>{{website}}</span>
              </div>
          </div>
      </div>

      <div class="profil-2">
          <div class="about-me">
              <span class="header">About Me</span> 
              <div class="text" *ngIf="aboutMe">
                  {{aboutMe}}
              </div>
          </div>

      </div>
    </div>
    </div>
