<div class="header">Our family of services, to develop your line of business with confidance and security</div>
<div class="service_wrapper">
    <div class="service_container">
        <div class="menu">
            <div class="menu_header">Activity Area</div>
            <div class="menu_items">
                <div>Covid-19</div>
                <div>Trading</div>
                <div>Banking</div>
                <div>Finance</div>
                <div>Industry</div>
                <div>Science</div>
                <div>Digital transformation</div>
                <div>Farming & Peach</div>
                <div>Energy</div>
                <div>Tourism</div>
                <div>Arts and Crafts</div>
            </div>
            <div class="menu_header">Scaling your business</div>
            <div class="menu_items">
                <div>Resources</div>
                <div>Suppliers</div>
                <div>Added value</div>
            </div>
            <div class="menu_header">Simple Integration</div>
            <div class="menu_items">
                <div>Optimization</div>
                <div>New technologies</div>
                <div>Technical support</div>
            </div>
        </div>
        <div class="content">
        </div>
    </div>
</div>
