input[type="file"]{
    display: none;
}

.header{
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    color: black;
}

.options{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.options>label:hover,.upload:hover{
    opacity: 0.9;
}


.upload,.options>label{
    
    width: 100px;
    height: 30px;
    background-color: black;

    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid red;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    background-color: whitesmoke;
}
button>i{
    color: red;
    font-size: x-large;
}