<div class="resume_container">
    <div class="header">
      Your Resume
    </div>
    <div *ngIf="fileInfos" class="content">
        <button (click)="downloadFile()"><i class="far fa-file-pdf"></i>Download</button>
    </div>
    <div class="options">
        <div *ngIf="currentFile" class="progress">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
        <input type="file" id="cv" (input)="selectFile($event)">
        <label *ngIf="!selectedFiles" for="cv">Upload</label>
        <input class="upload" type="button" *ngIf="selectedFiles" (click)="upload()" value="Save">
    </div>
</div>