<div class="navbar">
    <div (click)="homePage()" class="logo" style="cursor: pointer;">
        <div class="image"></div>
        <div class="desc">Moroccan Rain Drop</div>
    </div>
    <div class="links">
        <div><a routerLink='services'>Business</a></div>
        <div><a routerLink='courses'>Compétences</a></div>
        <div>Innovation</div>
        <div>Centre de presse</div>
        <div><a routerLink='home'>Premier pas</a></div>
    </div>
    <div *ngIf="!isLoggedIn" class="signin">
        <div><a routerLink="/sign-up">S'enregistrer </a></div>
        <div><a routerLink="/login"> Se connecter</a></div>
    </div>
    <div *ngIf="isLoggedIn" class="in">
        <div class="one">
            <app-notifications></app-notifications>
            <app-connections></app-connections>
        </div>
        <div class="two">
            <a class="profile" routerLink="/profile">
                <div class="img" *ngIf="image">
                    <img [src]="image" alt="profile image">
                </div>
                <div class="username">
                    {{username}}
                </div>         
            </a>
        </div>
        <div class="two"><button (click)="logout()" class="logout">Déconnexion</button></div>
    </div>
    <div class="sidebar" [class.show]="show">
        <div class="link" (click)="toggleClass()"><a routerLink='/'>Acceuil</a></div>
        <div class="link" (click)="toggleClass()"><a routerLink='/newsfeed'>Nouveautés</a></div>
        <div class="link" (click)="toggleClass()"><a routerLink='/profile'>Espace personnel</a></div>
        <div class="link" (click)="toggleClass()"><a routerLink='/groups'>Groupes</a></div>
        <div class="link" (click)="toggleClass()"><a routerLink='/users'>Connections</a></div>
        <div class="link" (click)="toggleClass()"><a routerLink="/jobs">Espace emploi</a></div>
        <div class="link" (click)="toggleClass()"><a routerLink="/courses">Cours / Workshops</a></div>
</div>
</div>
<div class="nav_border"></div>
<div class="nav_border2"></div>
<div *ngIf="isLoggedIn" class="btn" (click)="toggleClass()">
    <span class="fa fa-bars"></span>
</div>