<div class="nav-bar">  
    <div class="logo-icon">
        <div routerLink="/" style="cursor: pointer;">LOGO</div>
    </div>
    <div class="actualite">
        <div>News</div>
    </div>
    
    <div class="sign-in-container">
        <div *ngIf="isLoggedIn" class="sign-in">
            <div>
                <a class="profile" routerLink="/profile">
                    <div class="image" *ngIf="image">
                        <img [src]="image" alt="profile image">
                    </div>
                    <div class="username">
                        {{username}}
                    </div>         
                </a>
            </div>
            <div><button (click)="logout()" class="logout">Logout</button></div>
        </div>
        <div *ngIf="!isLoggedIn" class="sign-in">
            <div><a routerLink="/sign-up">SIGN UP</a></div>
            <div><a routerLink="/login">SIGN IN</a></div>
        </div>
    </div>
    <div class="sidebar" [class.show]="show">
            <div class="link" (click)="toggleClass()"><a routerLink='/'>Home</a></div>
            <div class="link" (click)="toggleClass()"><a routerLink='/newsfeed'>Feed</a></div>
            <div class="link" (click)="toggleClass()"><a routerLink='/profile'>Profil</a></div>
            <div class="link" (click)="toggleClass()"><a routerLink='/groups'>Groups</a></div>
            <div class="link" (click)="toggleClass()"><a href="">Events</a></div>
            <div class="link" (click)="toggleClass()"><a href="">Job Offers</a></div>
    </div>
</div>
<div class="btn" (click)="toggleClass()">
    <span class="fa fa-bars"></span>
</div>
