.content{
    padding: 20px;
}

h1{
    font-weight: bold;
    font-size: 2rem;
}

span {
    font-weight: bold;
}

button{
    height: 30px;
    width: 100px;
    color: black;
    border: 2px solid black;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover{
    color: white;
    background-color: black;
}