
<div class="login_wrapper">

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
        <div class="header">
            <div class="alert alert-danger" *ngIf="isError">
                <p>Identifiant ou mot de passe incorrect. Veuillez réessayer. </p>
            </div>
        </div>
        <div class="input_section">
            <div class="label"> <label for="username">Nom d'utilisateur </label> </div>
            <input 
                type="text" 
                name="username" 
                id="username"
                ngModel
                required
                minlength="4">
        </div>
        <div class="input_section">
            <div class="label"> <label for="password">Mot de passe </label> </div>
            <input 
                type="password" 
                name="password" 
                id="password"
                ngModel
                required
                minlength="4">
        </div>
        <div class="footer">
            <div class="submit">
                <button type="submit" [disabled]="!authForm.valid" >Login</button>
            </div>
            <div class="signup">Vous n'avez pas de compte? <a routerLink="/sign-up">Inscrivez-vous ici.</a> </div>
        </div>
        
    </form>
    
</div>
