
<div class="login_wrapper">

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
        <div class="header">
            <div class="alert alert-danger" *ngIf="isError">
                <p>Incorrecte username or password. Please try again. </p>
            </div>
        </div>
        <div class="input_section">
            <div class="label"> <label for="username">Username </label> </div>
            <input 
                type="text" 
                name="username" 
                id="username"
                ngModel
                required
                minlength="4">
        </div>
        <div class="input_section">
            <div class="label"> <label for="password">Password </label> </div>
            <input 
                type="password" 
                name="password" 
                id="password"
                ngModel
                required
                minlength="6">
        </div>
        <div class="footer">
            <div class="submit">
                <button type="submit" [disabled]="!authForm.valid" >Login</button>
            </div>
            <div class="signup">You don't have an account ? <a routerLink="/sign-up">Sign up from here.</a> </div>
        </div>
        
    </form>
    
</div>
