.users_wrapper{
    width: 70%;
    height: 700px;
    margin: 0 auto;
}

.users_container{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: whitesmoke;
}

.title{
    font-weight: bold;
    font-size: xx-large;
    color: royalblue;
    align-self: center;
    padding: 30px 0;
}

.options{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.name_filter{
    position: relative;
}
.name_filter input{
    border: none;
    width: 200px;
    padding: 6px 15px;
    border-radius: 15px;
    border: 1px solid royalblue;
}

.name_filter input:focus{
    border: 3px solid royalblue;
}
.name_filter i {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.name_filter i:hover {
    color: royalblue;
}

.users{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 20px;
}

.user{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid royalblue;
    border-radius: 10px;
    padding: 20px 10px;
}

.conn_img,.conn_img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

::ng-deep mat-select-country.country{
    height: 100px;
    background-color: royalblue;
}

.sort input {
    border: none;
    width: 150px;
    padding: 6px 15px;
    border-radius: 15px;
    border: 1px solid royalblue;
    margin-left: 10px;
}

.sort label{
    margin-left: 10px;
}

.conn_view{
    margin-top: 10px;
}

.conn_view button{
    padding: 3px 12px;
    color: white;
    background-color: #3083bb;
    border: none;
    outline: none;
    font-weight: bold;
}

.conn_view button:hover{
    color: #3083bb;
    border: 2px solid #3083bb;
    background-color: white;
}
