<div class="wrapper">
    <div class="profil-wrapper">

      <div class="profil-1" >
          <span class="pers">Personnal Informations</span>
          <div class="profile-img">
            <div *ngIf="retrievedImage; else elseBlock">
                <img [src]="retrievedImage" class="img"/>
            </div>
            <ng-template #elseBlock>
                <img src="../../assets/defaultpng.png" class="img" alt="">
            </ng-template>
            <div class="buttons">
                <input type="file" id="file" (change)="onFileChanged($event)">
                <label *ngIf="!selectedFile" for="file"><i class="far fa-file-image"></i> Select profile image</label>
                <input class="upload" type="button" *ngIf="selectedFile" (click)="onUpload()" value="upload">
            </div>
          </div>
          <div class="infos">
              <div class="info" *ngIf="firstName">
                  <span class="value"><i class="far fa-user"></i>{{firstName}} {{lastName}} <i *ngIf="isVerified" style="color: #5151fd;" class="fas fa-check-circle"></i></span>
              </div>
              <!--
              <div class="info" *ngIf="birthDate">
                  <span class="value"><i class="fas fa-birthday-cake"></i>{{birthDate}}</span>
              </div>
              -->
              <div class="info">
                  <span class="value"><i class="far fa-envelope"></i>{{email}}</span>
              </div>
              <div class="info" *ngIf="phoneNumber">
                  <span class="value"><i class="fas fa-phone-alt"></i>{{phoneNumber}}</span>
              </div>
              <div class="info" *ngIf="city && country">
                  <span class="value"><i class="fas fa-map-marker-alt"></i> {{city}}, {{country}}</span>
              </div>
              <div class="info" *ngIf="currentJob">
                  <span class="value"><i class="fas fa-suitcase"></i>{{currentJob}}</span>
              </div>
              <div class="info" *ngIf="website">
                  <span class="value"><i class="fas fa-link"></i>{{website}}</span>
              </div>
              <div class="update">
                  <button type="submit" (click)="updateForm()">Update</button>
              </div>
          </div>
      </div>
        <div class="profil-2">
            <div *ngIf="option == 1">
                <div class="about-me">
                    <span class="header">About Me</span> 
                    <div *ngIf="!editable">
                        <div class="text" *ngIf="aboutMe">
                            {{aboutMe}}
                        </div>
                        <div *ngIf="!aboutMe">
                                Write something about yourself...
                        </div>
                        <div class="edit">
                            <button class="submit" type="submit" (click)="editAboutMe()"><i class="far fa-edit"></i>Edit</button>
                        </div>
                    </div>
                    <div *ngIf="editable">
                        <textarea [(ngModel)]="aboutMe"  name="" id="" cols="80" rows="3"></textarea>
                        <div class="edit">
                            <button class="submit" type="submit" (click)="saveAboutMe()"><i class="far fa-edit" ></i>Save</button>
                        </div>
                    </div>
                   
                </div>
                <div class="post_container">
                    <app-create-post></app-create-post>
                    <app-view-posts [posts]="posts"></app-view-posts>
                </div>
            </div>
            <div *ngIf="option == 2">
                <div class="connections_title header">
                    <div>Your connections</div>
                    <div class="add_connections"><a routerLink="/users">Add connections</a></div>
                </div>
                <div class="connections_content">
                    <div class="connection" *ngFor="let connection of connections">
                        <div class="conn_img">
                            <div *ngIf="connection.image; else elseBlock">
                                <img [src]="connection.image" alt="">
                            </div>
                            <ng-template #elseBlock><img src="../../../assets/default_profile.jpg"></ng-template>
                        </div>
                        <div class="conn_name">
                            {{connection.firstName}} {{connection.lastName}}
                        </div>
                        <div class="conn_view">
                            <button (click)="goToProfile(connection.username)">View</button>
                        </div>
                    </div>
                    
                </div>
            </div>
                
        </div>

    </div>
</div>
<div class="options">
    <div class="option"><a (click)="changeOption(1)" >Activities</a></div>
    <div class="option" *ngIf="!isVerified" [routerLink]="['/userdetails','verification']"><a >Become verified</a> </div>
    <div class="option"><a (click)="changeOption(2)">Connections</a> </div>
    <div class="option"><a >Experiences</a> </div>
</div>
