.profil-wrapper{
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
}

.profil-1{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}



.profil-2{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

}

.edit{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.submit{
    padding: 6px 12px;
    background-color: rgb(48, 131, 187);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}

.submit i {
    margin-right: 10px;
}

.about-me{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid black;
}
.header{
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    color: rgb(48, 131, 187);
}

.pers{
    margin: 15px auto;
    font-size: large;
    font-weight: bold;
    color: rgb(48, 131, 187);
}
.profile-img{
    /*background-image: url('/assets/profil.jfif');*/
    background-position: center;
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;

}
.buttons{
    display: flex;
    flex-direction: column;
}
.img{
    margin: 0 auto;
    width: 100%;
    height: 250px;
    position: relative;
}

.infos{
    display: flex;
    flex-direction: column;
    margin: 80px auto;
}

.info{
    margin-bottom: 10px;
    font-weight: bolder;
}

.info span i{
    font-size: large;
    color: rgb(48, 131, 187);
    margin-right: 20px;
}

.update{
    display: flex;
    justify-content: center;
}

.update>button{
    padding: 6px 12px;
    background-color: rgb(48, 131, 187);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}

input[type="file"]{
    display: none;
}

.buttons>label,.upload{
    padding: 6px 8px;
    color: white;
    background-color: rgb(90, 123, 212);
    cursor: pointer;
    border: none;
    text-align: center;
    opacity: 0.7;
}
.buttons>label:hover,.upload:hover{
    opacity: 0.9;
}
.post_container{
    width: 80%;
    margin: 50px auto;
}

.options{
    position: absolute;
    width: 180px;
    top: 130px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.option{
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    background-color: rgb(105, 105, 211);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.option:hover{
    background-color: rgb(84, 84, 197);
}




