<div class="new_post">
    <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
        <div class="post_header">
            <span class="post_title">Create post</span>
        </div>
        <div class="text">
            <textarea [formControlName]="'description'"  id="post_text" cols="100" rows="10" placeholder="What's on your mind"></textarea>
        </div>
        <div class="buttons">
            <input type="file" id="file" (change)="onFileChanged($event)" >
            <label for="file"><i class="far fa-file-image"></i></label>
            <button class="form_new_post" type="submit">Post</button>
        </div>
    </form>
</div>