.new_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid #bbbbbb;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
}

#post_text{
    width: 100%;
    height: 80px;
    position: relative;
    resize: none;   
    overflow: auto;
    margin-bottom: 20px;
    border:none;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 10px;
    border: none;

}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.post_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: #b1afaf;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.post_title{
    margin: 5px 10px;
}

input[type="file"]{
    display: none;
}

.buttons>label{
    padding: 6px 8px;
    color: white;
    background-color: rgb(90, 123, 212);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.buttons>label:hover{
    background-color: rgb(71, 97, 170);
}

.form_new_post{
    color: white;
    width: 75px;
    height: 35px;
    background-color: rgb(90, 123, 212);
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border:none
}
.form_new_post:hover{
    background-color: rgb(71, 97, 170);
}

.buttons{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}