<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Personnal Informations</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="userDetailsForm" (ngSubmit)="userDetails()">

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">First Name</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'firstName'"class="form-control" required autofocus>
                                <span *ngIf="!userDetailsForm.get('firstName').valid && userDetailsForm.get('firstName').touched">
                                    Please provide your first name.
                                </span>                                 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Last Name</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'lastName'"class="form-control" required autofocus>
                                <span *ngIf="!userDetailsForm.get('lastName').valid && userDetailsForm.get('lastName').touched">
                                    Please provide your last name.
                                </span>                                 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Date of Birth</label>
                            <div class="col-md-6">
                                <input type="date" [formControlName]="'birthDate'"class="form-control" >                              
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Phone Number</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'phoneNumber'"class="form-control" >                            
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Job Title</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'currentJob'"class="form-control" >                            
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Country</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'country'"class="form-control"  >                            
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">City</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'city'"class="form-control"  >                            
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Website</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'website'"class="form-control"  >                            
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">
                                Send
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>