.course_wrapper{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    color: black;
    border: 3px solid black;
    border-radius: 5px;
}

.exit{
    align-self: flex-end;
    cursor: pointer;
    padding: 10px;
}
.course{
    
    display: grid;
    
    grid-template-columns: 40% 55%;
    column-gap: 5%;
    padding: 20px;
}

.image{
    width: 180px;
    height: 250px;
}
.image img{
    width: 180px;
    height: 250px;
    margin-right: 10px;
}