<div class="navbar">
    <div class="logo">
        <div class="image"></div>
        <div class="desc">Atlassian - Rain Drop</div>
    </div>
    <div class="links">
        <div>Business</div>
        <div>Trainings</div>
        <div>Innovation</div>
        <div>Press center</div>
        <div>First step</div>
    </div>
    <div class="signin">
        <div>SIGN UP</div>
        <div>SIGN IN</div>
    </div>
</div>
<div class="content_wrapper">
    <div class="content_container">
        <div class="content_welcome">
            <div class="content_description">
                <div class="description">Tomorow is another day to make an impact, It's up to us to change it with confidence and responsibility</div>
            </div>
            <div class="content_details">
                <div><i class="fas fa-check"></i> Utilize ressources to develop yourself and evoluate</div>
                <div><i class="fas fa-check"></i> Share with confidence to develop your line of business</div>
                <div><i class="fas fa-check"></i> Dare to innovate</div>
            </div>
        </div>
    </div>
    <div class="business_hub">
        <div class="title">Business Hub</div>
        <div class="hub_content1">
            <div>Investrain</div>
            <div>Boost startup</div>
            <div>Find supplyer</div>
            <div>Business Maps</div>
            <div>Business ware</div>
            <div>Business peers</div>
            <div>Verisign cv-tech</div>
            <div>Market place</div>
            <div>Collaboration area</div>
        </div>
    </div>
</div>
