.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    margin-bottom: 20px;   
    color: rgb(95, 95, 95);
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 60px;
}

.image{
    display: flex;
    align-items: center;
    background-image: url('../../assets/logo2.png');
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 50px;
    margin-right: 10px;
    
}

.desc{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;

}

.links{
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 1.2em;
}

.links div{
    cursor: pointer;
}

.links div:hover {
    color: black;
}

.signin{
    display: flex;
    width: 150px;
    justify-content: space-between;
    font-size: 1.2em;
}


.content_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content_container{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
}

.content_welcome{
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.content_description{
    margin-bottom: 30px;
}

.content_description .description{
    font-size: 3em;
    line-height: 1.1;
    font-weight: bold;
}

.content_details{
    margin-left: 30px;
}

.content_details>div{
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #5f5f5f;
}

.content_details>div>i{
    margin-right: 10px;
    color: rgb(48, 175, 48);
}

.hub_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hub_container{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.description_container{
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.description_container>.desc2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
    justify-content: space-around;
}

.desc2{
    width: 400px;
    height: 220px;
}

.desc2>i{
    color:red;
    font-size: x-large;
}

.desc2>span{
    font-size: 1.3em;
}

.desc2>div{
    color: gray;
}

.hub{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hub>.description{
    padding: 20px 0 80px;
    font-size: x-large;
    color :rgb(95, 95, 95);
}

.hub>.more{
    margin-top: 40px;
    cursor: pointer;
    color:green;
    font-size: 1.1em;
}

.hub>.more:hover{
    color: rgb(22, 122, 189);
}

.hub_content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.hub_content>div{
    width: 200px;
    height: 150px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.title{
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr{
    background-color: #5f5f5f;
    width: 36%;
}

.hub_content>div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    font-weight: 500;
}

.hub_content>div>i{
    color:red;
    margin-top: 20px;
    margin-bottom: 20px;
}