<div class="content-wrapper">

    <div class="post-content">
        <div class="new_post">
            <div class="post_header">
                <span class="post_title">Create post</span>
            </div>
            <div class="text">
                <textarea name="" id="post_text" cols="30" rows="10" placeholder="What's on your mind"></textarea>
            </div>
            <div class="buttons">
                <input type="file" id="file" >
                <label for="file"><i class="far fa-file-image"></i> Image</label>
                <button type="submit">Post</button>
            </div>
        </div>

        <div class="user_post">
            <div class="user_post_header">
                <div class="user_img"></div>
                <span class="username">Zakaria Zanati</span>
            </div>
            <div class="text_container">
                <div class="text_content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus ipsa, sint hic rem delectus minus sed molestias provident itaque voluptate et fugit reiciendis minima atque ea reprehenderit laborum non explicabo                </div>
            </div>
            <div class="image_container">
                <img src="../../assets/add_img.jpg" alt="">
            </div>
            <div class="reactions_container">
                <div class="likes"><i class="fas fa-heart"></i> 12 likes</div>
                <div class="comments"><i class="fas fa-comments"></i> 2 comments</div>
                <div class="add_like"><span><i class="far fa-heart"></i>like</span></div>
            </div>
            <div class="add_reaction">
                <div class="add_comment"><input type="text" name="comment" id="comment" placeholder="add a comment ..."></div>  
            </div>
            <div class="comments_container">
                <div class="comment">
                    <div class="user">user one</div>
                    <div class="user_comment">ceci est un commentaire</div>
                </div>
                <div class="comment">
                    <div class="user">user two</div>
                    <div class="user_comment">ceci est un 2eme commentaire</div>
                </div>
            </div>
            
        </div>
        <div class="user_post">
            <div class="user_post_header">
                <div class="user_img"></div>
                <span class="username">Zakaria Zanati</span>
            </div>
            <div class="text_container">
                <div class="text_content">
                    llllddl zkdaon najfnkaf nnfaej nflkn z ihza ofihbaofn  fazfohaz f fazfaz gzr ge frz g ejjjjjjjjj jjjjn k  kjnjknkj
                </div>
            </div>
            <div class="image_container">
                <img src="../../assets/add_img.jpg" alt="">
            </div>
            <div class="reactions_container">
                <div class="likes"><i class="fas fa-heart"></i> 12 likes</div>
                <div class="comments"><i class="fas fa-comments"></i> 2 comments</div>
                <div class="add_like"><span><i class="far fa-heart"></i>like</span></div>
            </div>
            <div class="add_reaction">
                <div class="add_comment"><input type="text" name="comment" id="comment" placeholder="add a comment ..."></div>  
            </div>
            <div class="comments_container">
                <div class="comment">
                    <div class="user">user one</div>
                    <div class="user_comment">ceci est un commentaire</div>
                </div>
                <div class="comment">
                    <div class="user">user two</div>
                    <div class="user_comment">ceci est un 2eme commentaire</div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="events-content">
        <div class="title"><span>CONFERENCES</span></div>
        <div class="sort">
            <label class="sort-label" for="sort">Sort by:</label>
            <select class="sort-select" name="" id="sort">
                <option value="">Nearest</option>
                <option value="">Newest</option>
            </select>
        </div>
        <div class="event">
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    Date : 26/08/2020 <br>
                    Provider : john doe
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
        </div>
        <div class="title"><span>COURSES</span></div>
        <div class="sort">
            <label class="sort-label" for="sort">Sort by:</label>
            <select class="sort-select" name="" id="sort">
                <option value="">Nearest</option>
                <option value="">Newest</option>
            </select>
        </div>
        <div class="event">
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Course title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Courses title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Courses title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Courses title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
        </div>
        <div class="title"><span>JOB OFFERS</span></div>
        <div class="event">
            <div class="event_container job">
                <div class="event-desc"> 
                    <div class="event_title">Java/JEE developper</div>
                    <p>Place : Paris</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container job">
                
                <div class="event-desc"> 
                    <div class="event_title">DevOps engineer</div>
                    <p>Place : New York</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container job">
                
                <div class="event-desc"> 
                    <div class="event_title">Data scientist</div>
                    <p>Place : Rabat</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container job">
            
                <div class="event-desc"> 
                    <div class="event_title">Job title</div>
                    <p>Place : Rabat</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
        </div>
    </div>
    
</div>