<div class="content-wrapper">

    <div class="post-content">
        <app-create-post></app-create-post>
        <app-view-posts [posts]="posts" ></app-view-posts>
    </div>
    <div class="events-content">
        <div class="title"><span>CONFERENCES</span></div>
        <div class="sort">
            <label class="sort-label" for="sort">Sort by:</label>
            <select class="sort-select" name="" id="sort">
                <option value="">Nearest</option>
                <option value="">Newest</option>
            </select>
        </div>
        <div class="event">
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    Date : 26/08/2020 <br>
                    Provider : john doe
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Conference title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
        </div>
        <div class="title"><span>COURSES</span></div>
        <div class="sort">
            <label class="sort-label" for="sort">Sort by:</label>
            <select class="sort-select" name="" id="sort">
                <option value="">Nearest</option>
                <option value="">Newest</option>
            </select>
        </div>
        <div class="event">
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Course title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Courses title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Courses title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container">
                <div class="event-img"> <a class="media-left"> <img alt="" src="../../assets/post_img1.jpg"> </a>
                </div>
                <div class="event-desc"> 
                    <div class="event_title">Courses title</div>
                    <p>Date : 26/08/2020</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
        </div>
        <div class="title"><span>JOB OFFERS</span></div>
        <div class="event">
            <div class="event_container job">
                <div class="event-desc"> 
                    <div class="event_title">Java/JEE developper</div>
                    <p>Place : Paris</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container job">
                
                <div class="event-desc"> 
                    <div class="event_title">DevOps engineer</div>
                    <p>Place : New York</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container job">
                
                <div class="event-desc"> 
                    <div class="event_title">Data scientist</div>
                    <p>Place : Rabat</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
            <div class="event_container job">
            
                <div class="event-desc"> 
                    <div class="event_title">Job title</div>
                    <p>Place : Rabat</p>
                    <p>Provider : john doe</p>
                </div>
            </div>
        </div>
    </div>
    
</div>