*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-wrapper{
    width: 80%;
    margin: 50px auto;
    background-color: white;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
}

.post-content{
    width: 78%;
    margin: 20px auto;
    height: auto;
}

.events-content{
    width: 95%;
    margin: 20px auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.title{
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.title span{
    padding: 8px 10px;
    background-color:royalblue;
}

.event{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
}

.event_title{
    font-weight: bold;
}

.event_container{
    width: 80%;
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;

}
.event-img{
    margin-right: 20px;
}
.job{
    border:1px solid #d1cece;
    border-radius: 10px;
    background-color: #d1cece;
    cursor: pointer;
}

.sort{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.sort-select{
    margin-left: 5px;
}


