<div class="list_wrapper">
    <div class="list_content">
        <div class="list_header">Groups List</div>
        <div class="options">
            <div class="create_group" (click)="addGroup()"><i class="fas fa-plus"></i> Create group</div>
        </div>
        <div class="group_container">
            <div class="group_img"></div>
            <div class="group_infos">
                <div class="title">Emploi Maroc</div>
                <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At quod voluptas ab in vel a rem dolor eos? Ma</div>
            </div>
        </div>
        <div class="group_container">
            <div class="group_img"></div>
            <div class="group_infos">
                <div class="title">Emploi Maroc</div>
                <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At quod voluptas ab in vel a rem dolor eos? Ma</div>
            </div>
        </div>
        <div class="group_container">
            <div class="group_img"></div>
            <div class="group_infos">
                <div class="title">Emploi Maroc</div>
                <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At quod voluptas ab in vel a rem dolor eos? Ma</div>
            </div>
        </div>
        <div class="group_container">
            <div class="group_img"></div>
            <div class="group_infos">
                <div class="title">Emploi Maroc</div>
                <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At quod voluptas ab in vel a rem dolor eos? Ma</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showForm">
    <app-create-group></app-create-group>
</div>


