<div class="list_wrapper">
    <div class="list_content">
        <div class="list_header">Groups List</div>
        <div class="options">
            <div *ngIf="userType.toLowerCase() == 'provider'" class="create_group" (click)="addGroup()"><i class="fas fa-plus"></i> Create group</div>
        </div>
        <div *ngFor="let group of groups">
            <div class="group_container">
                <div class="group_img">
                    <div *ngIf="group.imageBytes; else elseBlock">
                        <img [src]="group.imageBytes" alt="">
                    </div>
                    <ng-template #elseBlock><img src="../../../assets/defaultpng.png"></ng-template>
                </div>
                <div class="group_infos">
                    <div class="title"><a [routerLink]="['/group',group.id]"> {{group.name}}</a></div>
                    <div class="description">{{group.description}}</div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div *ngIf="showForm">
    <app-create-group></app-create-group>
</div>


