.list_wrapper{
    background-color: #f3f3f3;
    height: 900px;
    padding-bottom: 20px;
}

.list_content{
    padding: 30px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.list_header{
    padding: 15px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}

.add_group{
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-around;
}



.group_container{
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid red;
    background-color: white;
    border-collapse: collapse;
}

.group_img{
    width: 88px;
    height: 88px;
    margin-right: 10px;
    position: relative;
    border: 1px solid black;
}

.group_infos{
    display: flex;
    flex-direction: column;
}

.title{
    color: black;
    font-weight: bold;
}

.title a{
    color: black;
}

.description{
    font-size: 0.8em;
}

.create_group{
    cursor: pointer;
}

img{
    width: 86px;
    height: 86px;
    position: relative;
}

.options{
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding-bottom: 20px;
    
}
.search{
    position: relative;
}
.search input{
    border: none;
    width: 200px;
    padding: 6px 15px;
    border-radius: 15px;
}

.link{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.current{
    margin-top: 15px;
    color: black;
}
.current input{
    width: 10px;
}
.search input:focus{
    border: 1px solid gray;
}
.search i {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.search i:hover {
    color: gray;
}

ul{
    background-color:  #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.groups_container{
    height: 470px;
}

button {
    padding: 5px;
    border: 2px solid black;
    color: black;
    background-color: white;
    border-radius: 5px;
    outline: none;
}
