<div class="cove_img">
</div>
<div class="title">
    Trouvez des formations et des cours <br> pour élargir vos connaissances <br> sur les dernières compétences et outils <br> dans les domaines fonctionnels de base</div>
<div class="topics_container">
    <div class="topics">
        <div class="topic">
            <span>Thèmes d'affaires</span>
            <div class="img img1"></div>
            <div class="desc">
                La formation aux compétences en affaires devient une nécessité pour maximiser la performance des employés, quel que soit le niveau d'emploi ou la fonction. Du développement du leadership à la formation aux compétences générales, nos cours de gestion peuvent aider votre équipe à garder une longueur d'avance.            </div>
    
        </div>
        <div class="topic">
            <span>Thèmes technologiques</span>
            <div class="img img2"></div>
            <div class="desc">
                À mesure que la technologie continue d'évoluer, le déficit de compétences des experts en technologie sur le lieu de travail se creuse. Nos cours de technologie peuvent fournir à vos équipes techniques la formation dont elles ont besoin pour acquérir de nouvelles compétences ou devenir plus avancées dans leurs compétences existantes.            </div>  
        </div>
        <div class="topic">
            <span>Thèmes créatifs</span>
            <div class="img img3"></div>
            <div class="desc">
                De nos jours, design et technologie vont de pair. Être adepte de la technologie de conception et d'ingénierie est devenu tout aussi important que les compétences non techniques créatives. Nos cours de création peuvent vous aider à apprendre AutoCAD, Photoshop et de nombreux autres outils logiciels pour améliorer vos compétences créatives.            </div>   
        </div>
    </div>
    <div *ngIf="userType.toLowerCase()=='provider'" class="create"><button type="submit" (click)="addCourse()">Offrir un cours</button></div>
</div>

<div class="courses_wrapper">
    <span>Explorer les cours</span>
    <div class="options">
        <div class="name_filter">
            <input (input)="onSearchChange($event.target.value)" type="search" placeholder="Chercher ..."><i class="fas fa-search"></i>
        </div>
        <div class="filters">
            <div class="sort">
                <label class="sort-label" for="sort">Categorie :</label>
                <select [(ngModel)]="categoryFilter" (change)="filterByCategory()" class="sort-select" name="" id="sort">
                    <option *ngFor="let categ of categories" [ngValue]="categ">{{categ}}</option>
                </select>
            </div>
            <div class="date_filter">
                <label for="date">Date : </label>
                <input placeholder="yyyy-mm-dd" [(ngModel)]="dateFilter" (ngModelChange)="filterByDate()" ngbDatepicker #d="ngbDatepicker">
                <button 
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"><i class="fa fa-calendar"></i></button>
            </div>
        </div>
        
    </div>
    <div class="courses">
        <div *ngFor="let course of courses">
            <div class="course">
                <div class="course_img">
                    <div *ngIf="course.imageBytes">
                        <img [src]="course.imageBytes" alt="">
                    </div>
                </div>
               
                <div class="name">{{course.name}}</div>
                <div class="info ">Date : {{course.dateTime}} at {{course.time}}</div>
                <div class="info ">Durée : {{course.duration}}</div>
                <div class="info ">Provider : {{course.providerUsername}}</div>
                <div class="details"><button (click)="toogleCourse(course)"><i class="fas fa-info"></i> Details</button></div>
            </div>
            <div *ngIf="course.show" class="course_details"><app-view-course [course]="course"></app-view-course> </div>
        </div>
        
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a (click)="previousClick()" class="page-link">Précédent</a></li>
        <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)">
                <a (click)="getPaginationWithIndex(index)" class="page-link">
                  {{index + 1}}
                </a>
        </li>
        <li class="page-item"><a (click)="nextClick()" class="page-link">Suivant</a></li>
    </ul>
</div>
