
.user_post{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 16px;
    border-bottom:1px solid black;
}

.user_post_header{
    display: flex;
    justify-content: flex-start;
}

.user_img{
    background-color: rgb(46, 43, 36); 
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.text_container{
    margin: 10px 0;
}

.image_container{
    align-self: center;
    height: 400px;
    overflow: hidden;
}
.image_container>img{
    width: 530px;
}

.reactions_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.reactions_container .likes{
    color: rgb(71, 97, 170);
    margin-right: 10px;
}
.reactions_container .comments{
    color: rgb(71, 97, 170);
}
.reactions_container .add_like{
    color: #4761aa;
    margin-left: 300px;
}



