
.user_post{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 16px;
    margin-bottom: 10px;
}

.user_post_header{
    display: flex;
    justify-content: flex-start;
}



.user_img{
    background-color: rgb(46, 43, 36); 
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.text_container{
    margin: 10px 0;
}

.image_container{
    align-self: center;
    height: 400px;
    overflow: hidden;
}
.image_container>img{
    width: 530px;
}

.reactions_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.reactions{
    display: flex;
    justify-content: space-between;
    width: 170px;
}
.likes{
    color: rgb(71, 97, 170);
    margin-right: 10px;
    display: flex;
    width: 31%;
    justify-content: space-between;
}
.comments{
    color: rgb(71, 97, 170);
}
.reactions_container .add_like{
    display: flex;
    width: 9%;
    color: #4761aa;
    justify-content: space-between;
    
}

.user_img>img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.spans{
    display: flex;
    flex-direction: column;
}

.username{
    cursor: pointer;
}

.username>a{
    color: black;
    text-decoration: none;
}

.duration{
    color: gray;
    font-size: 0.8em;
}



