<div class="user_post" *ngFor="let post of posts">
    <div class="user_post_header">
        <div class="user_img">
            <img [src]="post.profileImage" alt="">
        </div>
        <div class="spans">
            <span class="username"><a [routerLink]="['/profile',post.userName]">{{post.firstName}} {{post.lastName}}</a> 
                <i *ngIf="post.verifiedUser" style="color: #5151fd; margin-left: 6px; font-size: 0.7em;" class="fas fa-check-circle"></i>
            </span>
            <span class="duration"> {{post.duration}} </span>
        </div>
    </div>
    <div class="text_container">
        <div class="text_content">
        {{post.description}}    
        </div>
    </div>
    <div class="image_container" *ngIf="post.image">
        <img  [src]="post.image" alt="">
    </div>  
    <div class="reactions_container">
        <div class="reactions">
            <div class="likes"><app-like [post]="post"></app-like> {{post.likeCount}} likes</div>
            <div class="comments"><i class="fas fa-comments"></i> {{post.commentCount}} comments</div>
        </div>
        
    </div>
    <app-comment [post]="post"></app-comment>
</div>

