<div class="footer" >
    <div class="footer-1">
        <div>Confiance et responsabilité</div>
        <div>Goutte de pluie</div>
        <div>Etude de cas</div>
    </div>
    <div class="footer-2">
       <div>Trainings</div>
       <div>Collaborations</div>
       <div>Support</div>
    </div>
    <div class="footer-3">
        <div>Offres d'emploi</div>
        <div>Resources</div>
        <div>Recherche d'un partenaire</div>
        <div>Devenir un partenaire</div>
    </div>
    <div class="footer-4">
        <div>Echanges</div>
        <div>Evènements</div>
        <div>Blogs</div>
        <div>Podcasts</div>
        <div>Communauté</div>
        <div>centre de presse</div>
    </div>
  </div>
