<div class="footer" >
    <div class="footer-1">
        <div>Confidence and responsibility</div>
        <div>Rain Drop</div>
        <div>Case study</div>
        <div>Live plans</div>
    </div>
    <div class="footer-2">
       <div>Training</div>
       <div>Collaboration</div>
       <div>Support</div>
    </div>
    <div class="footer-3">
        <div>Job offers</div>
        <div>Resources</div>
        <div>Look for a partner</div>
        <div>Become a partner</div>
    </div>
    <div class="footer-4">
        <div>Exchanges</div>
        <div>Events</div>
        <div>Blogs</div>
        <div>Podcasts</div>
        <div>Community</div>
        <div>Press center</div>
    </div>
  </div>
