<div class="group_wrapper">
    <div class="group_content">
        <div class="left_section">
            <div class="user">
                <div class="couvert" style="background-color: aqua;"></div>
                <div class="user_image"></div>
                <div class="user_name">Zakaria Zanati</div>
                <div class="user_info">Joined from : mai 2020</div>
            </div>
            <div class="groups_list">
                <div class="list_title">Groupes</div>
                <div class="list">
                    <div><i class="fas fa-users"></i> Emploi maroc</div>
                    <div><i class="fas fa-users"></i> Linked maroc</div>
                    <div><i class="fas fa-users"></i> Software & Technology</div>
                </div>
            </div>
        </div>
        <div class="main_section">
            <div class="group_header">
                <div class="group_couvert">

                </div>
                <div class="group_image"></div>
                <div class="group_title">GROUP EXAMPLE</div>
            </div>
            <app-create-post></app-create-post>

        </div>
        <div class="right_section">
            <div class="about">
                <div class="about_title">About this group</div>
                <div class="about_content">'Emploi au maroc'  groupe de recherche d'emploi et recrutement au maroc.</div>
            </div>
            <div class="admin">
                <div class="admin_title">Group Admin</div>
                <div class="admin_content">
                    <div class="admin_img"></div>
                    <div class="admin_infos">
                        <div class="admin_name">Zakaria Zanati</div>
                        <div class="admin_job">Sotware engineer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>